# Files and folders to ignore in Git
*.log
*.pyc
venv/
node_modules/
__pycache__/


.env
.env.*
.DS_Store
!.env.example


backend/backend_core/models/*

!backend/backend_core/models/clause_classifier
backend/backend_core/models/clause_classifier/*
!backend/backend_core/models/clause_classifier/__init__.py
!backend/backend_core/models/clause_classifier/classifier.py